<mat-toolbar>
  <nav>
    <a
      mat-raised-button
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Photos </span>
      <mat-icon>menu</mat-icon>
    </a>

    <a
      mat-raised-button
      [routerLink]="['/favorites']"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Favorites </span>
      <mat-icon>favorite</mat-icon>
    </a>
  </nav>
</mat-toolbar>
