@import "src/styles/variables.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 6rem;
}

.router-link-active {
  background-color: $primary !important;
}
