@import "src/styles/variables.scss";

:host {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: $light-blue;
  cursor: pointer;

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

button {
  background-color: $light-gray;
}

mat-icon {
  color: $gray;
}

.favorite-mat-icon {
  color: $red;
}
